/*#root{*/
/*  padding-top: 100px;*/
/*  margin: 0 auto;*/
/*  align-content: center;*/
/*  text-align: center;*/
/*}*/

body {
  background-color: #1f1e1e;
  color: white;
  overflow: hidden;
  font-family: Arial;
}

h1 {
  text-align: center;
}

.todo-wrapper {
  background: #353434;
  padding: 2%;
  /*display: flex;*/
  /*justify-content: space-around;*/
  width: fit-content;
  margin: 3% auto 0 auto;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgb(27, 27, 27);
}

.todo-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid grey;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.todo-input-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 25px;
}

.todo-input-item label {
  font-weight: bold;
  margin-bottom: 10px;
}

.todo-input-item input {
  padding: 8px;
  border: none;
  width: 200px;
}

.todo-input-item input:focus {
  /*outline: none;*/
  outline: 2px solid rgb(0, 290, 150);
}

.primaryBtn {
  background-color: rgb(0, 230, 122);
  color: white;
  border: none;
  border-radius: 0px;
  margin-top: 25px;
  padding: 10px;
  width: 60px;
  cursor: pointer;
}

.primaryBtn:hover {
  background-color: rgb(14, 75, 40);
}

.secondaryBtn {
  background-color: rgb(71, 71, 71);
  color: white;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
}

.active {
  background-color: rgb(0, 230, 122);
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.btn-area {
  margin-bottom: 15px;
}

.todo-list-item {
  background-color: #414040;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px 10px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 5px rgba(29, 22, 75, 0.21);
}

.todo-list-item h3 {
  font-size: 15px;
  color: rgb(0, 1230, 161);
  margin: 0;
}

.todo-list-item p {
  font-size: 14px;
  color: rgb(161, 161, 161);
  margin-top: 8px;
}

.icon {
  font-size: 34px;
  cursor: pointer;
}

.icon:hover {
  color: red;
}

.check-icon {
  font-size: 30px;
  margin-left: 10px;
  color: rgb(0, 230, 122);
  cursor: pointer;
}

.check-icon:hover {
  color: rgb(4, 196, 122);
}
